.form-field {
  margin-bottom: var(--eui-space-4);
  display: flex;
  flex-direction: column;
}

.form-field-error {
  color: var(--eui-color-danger);
  font-family: var(--eui-font-sans);
  font-size: var(--eui-fs-sm);
  margin: var(--eui-space-2) 0 0;
}
