.dashboard-layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--eui-color-bg);
}

.dashboard-layout-main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.dashboard-layout-content {
  flex: 1;
  padding: var(--eui-space-8);
  overflow-y: auto;
}
